    server {
      listen 8080;

      location /job_management/mcp {
        proxy_pass ${AAP_MCP_BASE_URL}/job_management/mcp;
        proxy_ssl_verify off;
        proxy_http_version 1.1;
        proxy_set_header Authorization "Bearer ${AAP_MCP_TOKEN}";
        proxy_set_header Host ${AAP_MCP_HOST};
        proxy_buffering off;
        proxy_read_timeout 86400s;
        proxy_send_timeout 86400s;
      }

      location /inventory_management/mcp {
        proxy_pass ${AAP_MCP_BASE_URL}/inventory_management/mcp;
        proxy_ssl_verify off;
        proxy_http_version 1.1;
        proxy_set_header Authorization "Bearer ${AAP_MCP_TOKEN}";
        proxy_set_header Host ${AAP_MCP_HOST};
        proxy_buffering off;
        proxy_read_timeout 86400s;
        proxy_send_timeout 86400s;
      }

      location /system_monitoring/mcp {
        proxy_pass ${AAP_MCP_BASE_URL}/system_monitoring/mcp;
        proxy_ssl_verify off;
        proxy_http_version 1.1;
        proxy_set_header Authorization "Bearer ${AAP_MCP_TOKEN}";
        proxy_set_header Host ${AAP_MCP_HOST};
        proxy_buffering off;
        proxy_read_timeout 86400s;
        proxy_send_timeout 86400s;
      }

      location /user_management/mcp {
        proxy_pass ${AAP_MCP_BASE_URL}/user_management/mcp;
        proxy_ssl_verify off;
        proxy_http_version 1.1;
        proxy_set_header Authorization "Bearer ${AAP_MCP_TOKEN}";
        proxy_set_header Host ${AAP_MCP_HOST};
        proxy_buffering off;
        proxy_read_timeout 86400s;
        proxy_send_timeout 86400s;
      }

      location /security_compliance/mcp {
        proxy_pass ${AAP_MCP_BASE_URL}/security_compliance/mcp;
        proxy_ssl_verify off;
        proxy_http_version 1.1;
        proxy_set_header Authorization "Bearer ${AAP_MCP_TOKEN}";
        proxy_set_header Host ${AAP_MCP_HOST};
        proxy_buffering off;
        proxy_read_timeout 86400s;
        proxy_send_timeout 86400s;
      }

      location /platform_configuration/mcp {
        proxy_pass ${AAP_MCP_BASE_URL}/platform_configuration/mcp;
        proxy_ssl_verify off;
        proxy_http_version 1.1;
        proxy_set_header Authorization "Bearer ${AAP_MCP_TOKEN}";
        proxy_set_header Host ${AAP_MCP_HOST};
        proxy_buffering off;
        proxy_read_timeout 86400s;
        proxy_send_timeout 86400s;
      }
    }
